GITHUB_TOKEN=your_github_token_here
GROQ_API_KEY=your_groq_key_here
GITHUB_USERNAME=your_github_username
LEETCODE_USERNAME=your_leetcode_username
LOCAL_TIMEZONE_OFFSET_HOURS=5
TTS_BACKEND=edge-tts
ACTIVE_PET=smiley